In [1]:
import pandas as pd
import numpy as np

In [2]:
dt=pd.read_csv('/content/car_age_price.csv')
dt.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [4]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [5]:
dt.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [6]:
dt["Year"].value_counts()

Year
2017    47
2015    22
2019    12
2018    11
2016     6
2014     6
2020     4
2013     4
Name: count, dtype: int64

In [9]:
duplicated=dt[dt.duplicated()]

In [10]:
dt.drop_duplicates(inplace=True)

In [12]:
dt["Year"].value_counts()

Year
2017    15
2015    12
2019     7
2018     6
2016     6
2014     5
2020     4
2013     3
Name: count, dtype: int64

In [16]:
x=dt.drop(["Price"],axis=1)
y=dt["Price"]
y

0      465000
1      755000
2      700000
5      350000
6      425000
7      575000
8      509999
10     500000
11     500000
12     500000
13     600000
14     475000
17     550000
22     434999
30     650000
34     450000
37     486000
38     475000
39     545000
40     525000
42     550000
43     550000
45     450000
48     396000
49     600000
50     325000
52     345000
54     525000
56     341000
58     450000
59     550000
60     490000
61     540000
63     595000
65     495000
67     400000
68     465000
69     300000
70     450000
71     490000
73     320000
77     325000
78     409999
80     390000
81     390000
83     480000
85     320000
86     520000
97     640000
98     700000
99     600000
100    350000
103    375000
104    400000
107    375000
108    300000
109    425000
110    420000
Name: Price, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2)
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr_model=lr.fit(x_train,y_train)
lr_predict=lr_model.predict(x_test)

In [18]:
x_2022=pd.DataFrame({'Year':[2022]})
lr_predict=lr_model.predict(x_2022)
np.round(lr_predict,2)

array([714251.93])